/* -----------------------------
            Global
--------------------------------*/

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter/static/Inter-Medium.ttf);
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Inter;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #0b9586;
  --secondary: #84bd3a;
  --accent: #ffbb1c;
  --active: #0000000f;
  --white: #ffffff;
  --black: #2a3334;
  --size-sm: 16px;
  --size-md: 18px;
  --size-lg: 20px;
  --size-xl: 24px;
  --size-2xl: 42px;
  --size-3xl: 52px;
  --font-light: 400;
  --font-semibold: 600;
  --font-bold: 700;
}

html {
  scroll-behavior: smooth;
}

button {
  font-size: 14px;
  font-weight: var(--font-light);
  line-height: 16.94px;
  letter-spacing: 0.08em;
  padding: 12px 34px;
  border-radius: 109px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
section{
  padding: 80px;
}
h1 {
  font-size: var(--size-3xl);
  font-weight: var(--font-bold);
  line-height: 62.93px;
  letter-spacing: -0.02em;
}

h2{
  font-size: var(--size-2xl);
  font-weight: var(--font-semibold);
  line-height: 50.83px;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------------
            Small
--------------------------------*/
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}


/* -----------------------------
             Medium
--------------------------------*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* -----------------------------
            Large
--------------------------------*/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1500px;
  }
}

/* -----------------------------
            Header
--------------------------------*/
.header {
  width: 100%;
  background-color: var(--primary);
  padding: 16px 0;
  z-index: 2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  background-color: var(--active);
  width: 157px;
  height: 54px;
  display: flex;
  justify-content: center;
}

.header .container .logo img {
  background-color: var(--active);
  height: 54px;
  width: 54px;
  opacity: 0.4;
}

.header .container nav .list-items {
  display: none;
  gap: 10px;
}

.header .container nav .list-items .list-item a {
  color: var(--white);
  padding: 8px 28px;
  transition: 0.1s;
  font-weight: var(--font-light);
  font-size: var(--size-md);
  line-height: 21.78px;
  letter-spacing: 0.94px;
  white-space: nowrap;
}
.header .container nav .list-items .list-item.active a {
  background-color: var(--active);
  border-bottom: 3px solid #0000004d;
  border-radius: 9%;
  font-weight: var(--font-semibold);
}
.header .container nav .list-items .list-item a:hover {
  background-color: var(--active);
  border-bottom: 3px solid #0000004d;
  border-radius: 9%;
  font-weight: var(--font-semibold);
}

.header .container .contact {
  display: none;
  text-align: right;
}
.header .container .contact .call {
  color: var(--white);
  font-size: var(--size-lg);
  font-weight: var(--font-light);
  line-height: 21.78px;
  letter-spacing: 0.94px;
}
.header .container .contact .phone {
  color: var(--white);
  font-size: var(--size-xl);
  font-weight: var(--font-bold);
  line-height: 28px;
  letter-spacing: 0.94px;
}

.header .container .toggle-menu {
  width: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
.header .container .toggle-menu span {
  border: 2px solid var(--white);
}

/* Media Query */
@media (min-width: 992px) {
  .header .container .toggle-menu {
    display: none;
  }
  .header .container nav .list-items {
    display: flex;
  }
  .header .container .contact {
    display: block;
  }
}



/* -----------------------------
            Landing
--------------------------------*/
.landing {
  position: relative;
  z-index: 1;
  height: 650px;
}
.landing .image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
}
.landing .image img {
  width: 100%;
  height: 650px;
}
.landing .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.landing .pagination {
  position: relative;
  width: 332.83px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing .pagination span {
  color: var(--white);
  font-weight: var(--font-light);
  font-size: var(--size-md);
}
.landing .pagination .pagination-container {
  width: 220.59px;
  height: 0;
  border: 2.5px solid #575757;
  border-left: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}
.landing .pagination .pagination-container .pagination-index {
  text-align: left;
  width: 89.01px;
  border: 2.5px solid var(--white);
}
.landing .hero {
  position: relative;
}
.landing .hero {
  position: relative;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
  color: var(--white);
}

.landing .hero p {
  color: var(--white);
  font-size: var(--size-lg);
  font-weight: var(--font-semibold);
  line-height: 30px;
}

.landing .hero div {
  display: flex;
  gap: var(--size-xl);
}

.landing .hero div button:first-child {
  background-color: var(--primary);
  color: var(--white);
}
.landing .hero div button:last-child {
  background-color: var(--accent);
  color: var(--black);
}

/* Media */
@media (max-width: 550px) {
  .landing .hero {
    max-width: 100%;
  }
  .landing .hero h1 {
    font-size: var(--size-2xl);
  }
  .landing .hero p {
    font-size: var(--size-md);
  }
  .landing .hero div {
    flex-direction: column;
  }
}


/* -----------------------------
            Installers
--------------------------------*/
.installers .container {
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.installers .container .text {
  max-width: 594px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.installers .container .text p {
  font-size: var(--size-sm);
  color: #475467;
  font-weight: 400;
  line-height: 24px;
}
.installers .container .text .list-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 498px;
}
.installers .container .text .list-items .list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.installers .container .text .list-items .list-item span {
  font-family: Roboto;
  font-weight: 500;
  color: var(--secondary);
  font-size: var(--size-lg);
  letter-spacing: 4px;
}

.installers .container .text .list-items .list-item p {
  font-family: Roboto;
  font-weight: 500;
  color: #101828;
  font-size: var(--size-lg);
}

.installers .container .image {
  position: relative;
  width: 100%;
  height: 552px;
  display: flex;
}

.installers .container .image img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}
.installers .container .image .polarizing {
  position: absolute;
  bottom: 40px;
  left: -50px;
  width: 266px;
  padding: 24px 30px;
  background-color: var(--accent);
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.installers .container .image .polarizing img {
  width: 90px;
  height: 90px;
}
.installers .container .image .polarizing p {
  font-family: Roboto;
  font-weight: var(--font-light);
  font-size: 500;
}

/* Media Query */
@media (min-width: 890px) {
  .installers .container {
    flex-direction: row;
  }
  .installers .container .image {
    width: 523px;
  }
  .installers .container .image img {
    width: 469px;
  }
}

@media (max-width: 768px) {
  .installers .container .image .polarizing {
    bottom: -50px;
    left: 10px;
  }
}



/* -----------------------------
            Power
--------------------------------*/
.power-section {
  position: relative;
  width: 100%;
  height: 505px;
}
.power-section .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.power-section .image img {
  width: 100%;
  height: 100%;
}
.power-section .container {
  position: relative;
  height: 100%;
}
.power-section .container .text {
  max-width: 678px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
}
.power-section .container .text h2 {
  color: var(--white);
}
.power-section .container .text p {
  color: var(--white);
  font-family: 500;
  font-size: var(--size-lg);
  line-height: 28px;
}
.power-section .container .text button {
  color: var(--black);
  background-color: var(--accent);
}


/* -----------------------------
            SolarKits
--------------------------------*/
.solar-section {
  position: relative;

  padding: 80px 0;
  margin-bottom: 80px;
}

.solar-section .container .title {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.solar-section .container .title h2 {
  color: #101828;
  margin-bottom: 30px;
}
.solar-section .container .title .solar-para {
  color: #475467;
  font-size: var(--size-sm);
  font-weight: var(--font-light);
  line-height: 24px;

  max-width: 936px;
}
.solar-section .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(358.67px, 1fr));
  gap: 32px;
}
.solar-section .container .cards .card {
  box-shadow: 0px 4px 30px 0px #0000000d;
}
.solar-section .container .cards .card img {
  width: 100%;
}
.solar-section .container .cards .card .text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.solar-section .container .cards .card .text h5 {
  font-size: var(--size-lg);
  font-weight: var(--font-semibold);
  line-height: 30px;
  color: #101828;
}
.solar-section .container .cards .card .text .para {
  font-size: var(--size-sm);
  font-weight: var(--font-light);
  line-height: 24px;
  color: #475467;
}

.solar-section .container .cards .card .text .link a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--size-sm);
  font-family: var(--font-semibold);
  color: #3cab90;
  line-height: 24px;
}

.solar-section .container .cards .card .text .link img {
  width: 20px;
  height: 20px;
}


/* -----------------------------
            Repairs
--------------------------------*/
.repairs-section {
  position: relative;
  width: 100%;
  height: 505px;
}
.repairs-section .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.repairs-section .image img {
  width: 100%;
  height: 100%;
}
.repairs-section .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repairs-section .container .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #00000091;
  width: 858px;
  padding: 44px;
  border-radius: 12px;
  gap: 32px;
}
.repairs-section .container .text h2 {
  color: var(--white);
}

.repairs-section .container .text p {
  font-weight: 500;
  font-size: var(--size-lg);
  line-height: 28px;
  color: var(--white);
}

/* Media query */
@media (max-width: 610px) {
  .repairs-section .container .text {
    padding: 20px;
  }
  .repairs-section .container .text h2 {
    font-size: var(--size-xl);
  }

  .repairs-section .container .text p {
    font-size: var(--size-sm);
  }
}



/* -----------------------------
            Energy
--------------------------------*/
.energy-section {
  padding: 80px 0;
  background: rgba(255, 187, 28, 0.05);
}
.energy-section .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
}
.energy-section .container .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.energy-section .container .text img {
  width: 65px;
  height: 65px;
}
.energy-section .container .text p {
  font-weight: var(--font-light);
  font-size: var(--size-md);
  line-height: 28px;
  color: #475467;
}
.energy-section .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(358.67px, 1fr));
  gap: 32px;
}
.energy-section .container .cards .card {
  position: relative;
  max-width: 358.67px;
  max-height: 412px;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #3cab900d;
  border: 1px solid #3cab90;
}
.energy-section .container .cards .image {
  width: 100%;
  height: 106px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3cab9026;
  margin-bottom: 20px;
}
.energy-section .container .cards .image img {
  width: 54px;
}
.energy-section .container .cards h5 {
  font-size: var(--size-lg);
  font-weight: var(--font-semibold);
  line-height: 30px;
  color: #101828;
}
.energy-section .container .cards p {
  font-size: var(--size-sm);
  font-weight: var(--font-light);
  line-height: 24px;
  color: #475467;
  padding-bottom: 40px;
}
.energy-section .container .cards p span {
  border-bottom: 1px solid #475467;
}
.energy-section .container .cards .link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.energy-section .container .cards .link a {
  color: #3cab90;
  font-size: var(--size-sm);
  font-weight: var(--font-semibold);
  line-height: 24px;
}

/* Media Query */
@media (min-width: 1100px) {
  .energy-section .container {
    flex-direction: row;
  }
}
/* Media Query */
@media (max-width: 800px) {
  .energy-section .container .cards .card {
    max-width: none;
    max-height: 412px;
  }
}


/* -----------------------------
            Value
--------------------------------*/
.value-section {
  padding: 80px 0;
}
.value-section .container .value-text {
  text-align: center;
}
.value-section .container .value-text h2 {
  margin-bottom: 32px;
  color: rgba(16, 24, 40, 1);
}
.value-section .container .value-text p {
  color: rgba(71, 84, 103, 1);
  font-size: var(--size-md);
  font-weight: var(--font-light);
  line-height: 28px;
}
.value-section .container .value-cards {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.value-section .container .value-cards .value-card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  opacity: 0px;
  background: rgba(60, 171, 144, 0.05);
  border: 1px solid rgba(60, 171, 144, 1);
  width: 358.67px;
}
.value-section .container .value-cards .value-card img {
  width: 70px;
  height: 70px;
}
.value-section .container .value-cards .value-card h5 {
  font-size: var(--size-lg);
  font-weight: var(--font-semibold);
  line-height: 30px;
  color: #101828;
}
.value-section .container .value-cards .value-card p {
  color: #475467;
  font-size: var(--size-sm);
  font-weight: var(--font-light);
  line-height: 24px;
}

/* Media Query */
@media (max-width: 800px) {
  .value-section .container .value-cards {
    flex-direction: column;

    align-items: center;
  }
}


/* -----------------------------
            Testimonials
--------------------------------*/
.testimonials-section {
  padding: 80px 0;
}
.testimonials-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-question {
  width: 400px;
  display: flex;
  gap: 28px;
  flex-direction: column;
}
.testimonial-question img {
  width: 58.33px;
  height: 48px;
}
.testimonial-question h2 {
  line-height: 64px;
  color: #1c1c1c;
}
.testimonial-question p {
  font-size: var(--size-md);
  font-weight: var(--font-light);
  line-height: 32px;
  color: #1c1c1c;
}

.testimonial-slider {
  width: 708px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 87px;
  border-radius: 24px;
  background: rgba(60, 171, 144, 0.06);
}
.testimonial-slider .first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-slider .first-section h6 {
  font-size: var(--size-sm);
  font-weight: var(--font-bold);
  color: #3cab90;
  line-height: 20.16px;
}

.testimonial-slider .first-section .list-items {
  width: 72px;
  display: flex;
  gap: 6px;
}
.testimonial-slider .first-section .list-items .list-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.testimonial-slider .first-section .list-items .list-item.active {
  background-color: #6b6b6b !important;
}
.testimonial-slider .second-section {
  max-width: 516px;
}
.testimonial-slider .second-section p {
  width: 100%;
  font-size: var(--size-xl);
  font-weight: var(--font-light);
  line-height: 36px;
  color: #101828;
}

.testimonial-slider .third-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-slider .third-section .reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonial-slider .third-section .reviewer .reviewer-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.testimonial-slider .third-section .reviewer .reviewer-details .reviewer-name {
  font-size: var(--size-sm);
  font-weight: var(--font-bold);
  line-height: 19.36px;
  color: #1c1c1c;
  margin-bottom: 6px;
}
.testimonial-slider .third-section .reviewer .reviewer-details .reviewer-field {
  font-size: var(--size-sm);
  font-weight: var(--font-light);
  line-height: 19.36px;
  color: #1c1c1c;
}
.testimonial-slider .third-section .navigation {
  display: flex;
  gap: 16px;
  align-items: center;
}
.testimonial-slider .third-section .navigation  button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #1c1c1c;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Query */
@media (max-width: 768px) {
  .testimonials-section .container {
    flex-direction: column;
  }
   .testimonial-slider {
    width: 100%;
  }
}
@media (max-width: 410px) {
  .testimonial-slider .third-section {
    flex-direction: column;
    gap: 30px;
  }
}



/* -----------------------------
            Footer
--------------------------------*/
.footer-section {
  padding: 80px 0;
  background: #283646;
}
.footer-section .container {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.footer-section .container img {
  width: 185px;
  height: 64px;
}
.footer-section .container .first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-section .container .first-section nav .list-items {
  display: flex;
  gap: 40px;
}
.footer-section .container .first-section nav .list-items .list-item a {
  font-size: var(--size-sm);
  font-weight: var(--font-light);
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--white);
}
.footer-section .container .first-section .news {
  margin-bottom: 20px;
}

.footer-section .container .first-section .news p {
  margin-bottom: 10px;
  font-size: var(--size-sm);
  font-weight: var(--font-light);
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--white);
}
.footer-section .container .first-section .news .email-input {
  position: relative;
}
.footer-section .container .first-section .news .email-input input {
  width: 406px;
  height: 48px;
  border-radius: 38px;
  font-size: var(--size-sm);
  font-weight: var(--font-light);
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #92989f;
  outline: none;
  border: 1px solid #b3bdc7;
  background: #ffffff17;
  padding: 20px;
}
.footer-section .container .first-section .news .email-input button {
  position: absolute;
  top: 1px;
  right: 0;
  height: 100%;
  background: var(--accent);
  color: var(--white);
}
.footer-section .container .divider {
  width: 100%;
  border: 1px solid #71777d;
}
.footer-section .container .second-section .copyrights {
  display: flex;
  justify-content: space-between;
}
.footer-section .container .second-section .copyrights p a {
  color: #92989f;
}
.footer-section .container .second-section .copyrights p {
  color: #92989f;
  font-size: var(--size-sm);
}

/* Media Query */
@media (max-width: 968px) {
  .footer-section .container .first-section {
    flex-direction: column;
    gap: 50px;
  }
  .footer-section .container .second-section .copyrights {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 552px) {
  .footer-section .container .first-section nav .list-items {
    flex-direction: column;
    align-items: center;
  }
  .footer-section .container .first-section .news .email-input input {
    width: 300px;
  }
  .testimonials-section .container .testimonial-question {
    width: 100%;
  }
}

